<h1>Confirmation de votre paylert</h1>
Bonjour <%= @user.email %> ! 

<br>
Merci d'avoir utilisé nos services pour la veille de votre produit : 
<br>
Nous ne manquerons pas de vous informer dès que celui-ci sera commandé.
<br>
A très vite,
<br><br>
L'équipe Paylert