
<center><a href='https://payalert.herokuapp.com/' target='_blank'><img src='https://nsa40.casimages.com/img/2020/07/01/mini_200701021632562538.png' border='0'></a>
<br><br><br>
<h2>Félicitations <strong><%= @user.email %> </strong> ! </h2>

<br>
<h3>Nous sommes heureux de vous annoncer l'achat de votre produit <span> <%= @paylert.product.name %> </span> au prix de <span> <%= @paylert.product.price %> €</span></h3>
<br>
<br>

<h3>En vous remerciant d'avoir utilisé nos services.
<br><br>
L'équipe PayAlert</h3>
