
<center><a href='https://payalert.herokuapp.com/' title='Mon image' target='_blank'><img src='https://nsa40.casimages.com/img/2020/07/01/mini_200701021632562538.png' border='0' alt='Mon image' /></a>
<br><br><br>
<h2>Félicitations<strong><%= @user.email %> </strong> ! </h2>

<br>
<h3>Nous sommes heureux de vous annoncer l'achat de votre produit <strong> <%= @paylert.product.name %> </strong> au prix de <strong> <%= @paylert.product.price %> €</strong></h3>
<br>
<br>

<h2>En vous remerciant d'avoir utilisé nos services.
<br><br>
L'équipe PayAlert</h2>