<div class="courses-container">
	<div class="course">
		<div class="course-preview">
		
               <%= image_tag asset_path(product.photo) %>
		
		</div>
		<div class="course-info">
		
			<h2>Callbacks & Closures</h2>
			<button class="btntest">Continue</button>
		</div>
	</div>
</div>

