
<div class="carde">
<div class="card-product">
 <%=  image_tag @product.photo  %>

 
  <div class="card-product-infos">
      <h2><%= @product.name %></h2>
      <p><%= @product.description %></p>
      <h2 class ="cardprice">Prix vendeur : <%= @product.price %> euros</h2>
  </div>
</div>
</div>
