
<div class="container">
	<div class="offre">
		<div class="offre-preview">
		
              <div class ="pictureindex">
               <%= image_tag asset_path(@product.photo) %>
                </div>
		
		</div>
		<div class="offre-info">
	  		<h2><%= @product.name %></h2>
            <p><%= @product.description %></p>
           
		</div>
		 <h3 class ="endpricecardt"><%= @product.price %> euros</h3>
	</div>
</div>