
<div class="global">
    <div class="imgcom">
        <%= image_tag "apropos.svg" %>
    </div>
    <div class="textcommunity">
        <center><h2>Notre communauté</h2><br></center>
        <h4>Aujourd’hui, PayAlert compte <p style="color:blue";>plus de 15 000 membres !</p> Rejoignez-nous !</h4><br>
        <p>Notre système de paiement automatique est unique<br> sur le marché et ne peut que vous aidez à faire des<br>économies !<br>
        <p>L’équipe PayAlert compte de plus en plus de<br> partenaires commerciaux et fait son maximum pour<br> élargir votre choix de produits !<p>
    </div>
</div>
