
<div class="position">
    <div class="containermoyenne">
        <div class="imgcredit">
          <%= image_tag "creditcard.svg" %>
        </div>
        <div class="textmoyenne">
          <center><h4>En moyenne, 25% des PayAlerts sont exécutées pour une<br>
          économie de 28% sur le prix initial du vendeur !</h4></center>
        </div>
    </div>
</div>