
<div class="position">
    <div class="containermoyenne">
        <div class="imgcredit">
          <%= image_tag "creditcard.svg" %>
        </div>
        <div class="textmoyenne">
          <center><h4>PayAlert permet une<br> économie moyenne de <br><br>
          <p style="color: #5878DB";>28%</p> sur le prix initial du vendeur.</h4></center>
        </div>
    </div>
</div>