
<div class="position">
    <div class="containermoyenne">
        <div class="imgcredit">
          <%= image_tag "creditcard.svg" %>
        </div>
        <div class="textmoyenne">
          <center><h4>En moyenne, <strong>25%</strong> des PayAlerts sont exécutées pour une<br>
          <p style="color:blue";>économie de 28%</p>sur le prix initial du vendeur !</h4></center>
        </div>
    </div>
</div>