<div >
<div class ="containers">
    <div class="card">
    <div  class="test">  
    <%= image_tag "carton.svg" %>
    </div>
    <div class="txt">
        <h4>Paiement automatique pour un budget maîtrisé</h4>
        <p>Un produit intéressant mais à un prix trop conséquent<br>
        pour vous? Une période de solde qui approche?
        <br>
        <br>
        Pensez à PayAlert et rechercher votre produit !</p>

    </div>
     <span class="navbar-text">
        <a class="btn btn-primary" href="#">Rechercher</a>
     </span>
</div>
</div>