<div >
<div class ="containers">
    <div class="card">
    <div  class="test">  
    <%= image_tag "carton.svg" %>
    </div>
    <div class="txt">
        <h4>Paiement automatique pour un budget maîtrisé</h4>
        <p>Un produit intéressant mais à un prix trop conséquent<br>
        pour vous? Une période de solde qui approche?
        <br>
        <br>
        Pensez à PayAlert et rechercher votre produit !</p>

    </div>
     <%# <form class="form-inline">
        <input class="form-control " type="search" id="listFilter" placeholder="Rechercher un produit" aria-label="Search">
        <button class="btn btn-primary" %> <input type="submit"></button> 
  <%# </form> %>
</div>
</div>