<div >
<div class ="containers">
    <div class="card">
    <div class="test">  
    <%= image_tag "carton.svg" %>
    </div>
    <div class="txt">
        <h4>Le paiement automatique pour un budget maîtrisé</h4>
        <p>Un produit intéressant mais trop cher actuellement ?<br>
        <br>
        Une période de solde qui approche ?
        <br>
        <br>
        Pensez à PayAlert et trouvez votre produit !</p>

    </div>
     <span class="navbar-text">
        <a class="btn btn-primary" href="search"><h5>Rechercher</h5></a>
     </span>
</div>
</div>