<div class="containerd">
  <div class="footer">
    <div class="footer-copyright">
        <h3>PayAlert</h3>
        <p> Des achats automatiques en seulement quelques clics !</p>
    </div>
      <h3> <p style="color: #5878DB";> Rejoignez-nous  </p> </h3>
    <div class="footer-links">
  
      <a href="#"> <%= image_tag "insta.svg" %></a>
      <a href="#"> <%= image_tag "twitter.svg" %></a>
      <a href="#"> <%= image_tag "facebook.png" %></i></a>
    </div>
  </div>
</div>