<nav class="navbar navbar-expand-lg navbar-light">
   <a class="navbar-brand" href="#"> <%= image_tag "PayAlert.svg", class: "logo" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
        <span class="navbar-text">
          <a class="btn btn-outline-primary" href="#">Search</a>
          </span>
    <span class="navbar-text">
  
    
     <%# <%=  link_to 'Créer une annonce', new_dog_path, method: :get,  class: "generique" %>
      <a  href="#"> <%= image_tag "avatar.svg" ,class:"avatar"%></a>
    </span>
  </div>
</nav>

