<h2>Ma Payalert</h2>
<div class="main_container">
    <div class="current_payalert">
        <div class="imgproduct">
            <%= image_tag "computer.svg" %>
        </div>
        <div class="products_details">
      <%# Nom : <% product.name %>
      <%# Prix proposé : <% product.bidding_price %>
      <ul>
        <li><h4><strong>Nom :</strong> Casquette</h4></li>
        <br>
        <li><h4><strong>Prix vendeur :</strong> 95.00€</h4></li>
        <br>
        <li><h4><strong>Prix proposé :</strong> 80.00€</h4></li>
      </ul>
        </div>
            <span class="navbar-text">
                <a class="btn btn-outline-primary" href="#">Valider ma Payalert</a>
            </span>
        </div>
    </div>
</div>