<div class ="container">
    <div class ="service">
        <h2>Une solution de paiement innovante</h2>
        <div class="d-flex flex-row-reverse">
            <%= image_tag "computer.svg" ,class: "computer" %>
           <div class ="p-2">
             <ul class ="pig-service ">
                    <li> <%= image_tag "pig.svg" %></li>
                    <li><h5>Maîtrisez votre budget</h5></li>
                    <li><p>Vous décidez du prix auquel vous souhaitez acheter le produit ciblé
                            Exemple :
                            Prix vendeur : 80,00€
                            Prix souhaité : 65,00€
                    </p></li>
                </ul>
     
            </div>
        
            </div>
                <ul class ="bell-service ">
                    <li> <%= image_tag "pig.svg" %></li>
                    <li><h5>Fixez une alerte de paiement</h5></li>
                    <li><p>En reprenant l’exemple précédent, vous validez votre demande via un système appelé “PayAlert” au prix annoncé. 
                           Si le vendeur baisse son prix correspond à votre prix souhaité, l’achat se réalise automatiqquement sans repasser par une procédure de paiement classique.
                           C’est le côté novateur apporté par PayAlert !
                    </p></li>
                </ul>

                <ul class ="calendar-service flex-end">
                    <li> <%= image_tag "pig.svg" %></li>
                    <li><h5>Ne ratez plus les bonnes affaires</h5></li>
                    <li><p>Aujourd’hui, nous recevons uniquement des alertes quand le prix baisse et nous n’avons pas forcément le temps de retourner sur le site pour effectuer l’achat, soit ratez une bonne affaire pour un souci de timing ! 
                    Avec PayAlert, la question ne se pose plus !
                    </p></li>
                </ul>
        </div>
    
    </div>
</div>