<div class ="container">
    <div class ="service">
        <h2>test de titre h1</h2>
        <div class="d-flex flex-row-reverse">
            <%= image_tag "computer.svg" ,class: "computer" %>
           <div class ="p-2">
             <ul class ="pig-service ">
                    <li> <%= image_tag "pig.svg" %></li>
                    <li><h5>test de titre  h2 </h5></li>
                    <li><p>s simply dummy text of theprinting<br>
                    and typesetting industry.Lorem <br>
                    Ipsum has been theindustry's standard du
                    </p></li>
                </ul>
     
            </div>
        
            </div>
                <ul class ="bell-service ">
                    <li> <%= image_tag "pig.svg" %></li>
                    <li><h5>test de titre  h2 </h5></li>
                    <li><p>s simply dummy text of theprinting<br>
                    and typesetting industry.Lorem <br>
                    Ipsum has been theindustry's standard du
                    </p></li>
                </ul>

                <ul class ="calendar-service flex-end">
                    <li> <%= image_tag "pig.svg" %></li>
                    <li><h5>test de titre  h2 </h5></li>
                    <li><p>s simply dummy text of theprinting<br>
                    and typesetting industry.Lorem <br>
                    Ipsum has been theindustry's standard du
                    </p></li>
                </ul>
        </div>
    
    </div>
</div>