<div class ="container">
    <div class ="service">
        <h2>Une solution de paiement innovante</h2>
        <div class="englobe">
           <div class ="p-2">
                <ul class ="pig-service ">
                    <li> <%= image_tag "pig.svg" %></li>
                    <br>
                    <li><h5>Maîtrisez votre budget</h5></li>
                    <li><p>Vous décidez du prix auquel vous souhaitez<br> 
                           acheter le produit ciblé<br>
                           Exemple :<br>
                           Prix vendeur : 80,00€<br>
                           Prix souhaité : 65,00€
                    </p>
                    </li>
                </ul>
                 <%= image_tag "computer.svg" ,class: "computer"%>
            </div>

              <div class="twolast">
                <ul class ="bell-service ">
                    <li> <%= image_tag "pig.svg" %></li>
                    <br>
                    <li><h5>Fixez une alerte de paiement</h5></li>
                    <li><p>En reprenant l’exemple précédent, vous<br> 
                           validez votre demande via un système appelé<br> 
                           “PayAlert” au prix annoncé. Si le vendeur<br> 
                           baisse son prix correspond à votre prix<br>
                           souhaité, l’achat se réalise<br> 
                           automatiquement sans repasser par une<br>
                           procédure de paiement classique.<br>
                           C’est le côté novateur apporté par PayAlert !
                    </p></li>
                </ul>

                <ul class ="calendar-service">
                    <li> <%= image_tag "pig.svg" %></li>
                    <br>
                    <li><h5>Ne ratez plus les bonnes affaires</h5></li>
                    <li><p>Aujourd’hui, nous recevons uniquement des<br> 
                    alertes quand le prix baisse et nous n’avons<br>
                    pas forcément le temps de retourner sur le<br>
                    site pour effectuer l’achat, soit ratez une<br> 
                    bonne affaire pour un souci de timing !<br>
                    Avec PayAlert, la question ne se pose plus !
                    </p></li>
                </ul>
              </div>
        </div>
    
    </div>
</div>