<div class="awaiting-intent">
  <h4 class="mb-3 text-center">Nous vérifions votre carte...</h4>
  <div class="d-flex justify-content-center mt-5">
    <div class="spinner-border text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
