<div class="payment-form">
  <h4 class="mb-3 text-center">Merci de confirmer votre carte</h4>
  <div id="client_secret" data-client-secret="<%= @client_secret %>"></div>
  <div class="form_card">
    <div id="card-element">
      <!-- Elements will create input elements here -->
    </div>
      <!-- We'll put the error messages in this element -->
    <div id="card-errors" role="alert"></div>
  </div>
  <div class="d-flex justify-content-center">
    <button class="btn btn-success mt-3" id="submit">Confirmer votre carte</button>
  </div>
</div>
