<<<<<<< HEAD
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
=======
<%= render 'shared/navbar' %>
<%= render 'shared/first-card' %>

<%= render 'shared/service' %>

<%= render 'shared/footer' %>
>>>>>>> 67765f9735c8bc0c2019e2bd901528f9136ca53c
