

<div class="flexinputs">
  <div class = "search">


  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-form-control",
      placeholder: "Rechercher votre produit"
    %>
  <% end %>
      </button>
    </div>
  </form>


  <div class="flex2">
    <div class="dropdown mr-1">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        Commerçant
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <a class="dropdown-item" href="#">Amazon</a>
        <a class="dropdown-item" href="#">Boulanger</a>
        <a class="dropdown-item" href="#">Cdiscount</a>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
        Category
      </button>
        <span class="sr-only">Catégorie</span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
        <a class="dropdown-item" href="#">Jardinage</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Electro ménager</a>
      </div>
    </div>
  </div>

  <input class="btn btn-primary" type="submit" value="Submit">
  <strong> >To do :  Implémenter le path </strong>
</div>
