<script src="confetti.js"></script>
<div class="bravo">
    <h1 class="bravo_text">Félicitations, ta Payalert a bien été validée !</h1>
    <a class="btn btn-primary" href="profile">Retourner à mon profil</a>
</div>