
.generique{
    background-color: blue;
    border-color: blue;
    color: white;
    border-radius: 6px;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
    margin: 12px;

}

.generique:hover{
    text-decoration: none;
    color: white;
    background-color: blue;
    
}

.specifique{
    border-color: black;
    color: white;
    border-radius: 6px;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
    margin: 12px;
}


