.amazon{
display: flex;
align-items: center;
justify-content: center;

background-color: #FFFFFF;
border: 1px solid;

border-color: #E2E5E6;
height: 170px;
width: 250px;
}
.boulanger{

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #FFFFFF;
    border: 1px solid;
    
    border-color: #E2E5E6;
    height: 170px;
    width: 250px;
}
.boulanger img{
    height: 50%;
    width: 50%;

}

.background-carou{
    display: flex;
align-items: center;
justify-content: center;
    margin: 50px;
height: 120px;
background-color: #FFFFFF;
}

.carou-h2{
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.carou{
    margin-left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;

}