.carde{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.card-product {
<<<<<<< HEAD
  overflow: hidden;
  height: 120px;
  width: 1000px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product .btn-accessshow{
  color: white;
  background-color: #F8846B;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
}
  
.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
  
.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
  
.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
  
.card-product .card-product-infos {
  padding: 16px;
  width: 880px;
  text-align: center;
}
=======
    overflow: hidden;
    height: 200px;
    width: 1110px;
    background: white;
  
   margin-bottom: 200px;
    display: flex;
    align-items: center;
  }
.card-index{
  overflow: hidden;
  height: 200px;
  width: 1110px;
  background: white;
  margin-bottom: 20px;
    display: flex;
    align-items: center;
}
  
  .card-product img , .card-index img {
    margin-left: 100px;
    margin-right: 100px;
    max-height: 70%;
    max-width: 70%;
    
  }
  
  .card-product h2 , .card-index h2{
    font-size: 16px;
    font-weight: bold;
  
  }
  
  .card-product p, .card-index p {

    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    width: 30em;
    font-size: 0.75em;
  }
  
  .card-product .card-product-infos .card-index {
  
    width: 980px;
    text-align: center;
  }
  .card-index .card-product-infos  {
    width: 980px;
    text-align: center;

  }
  .cardprice{


    margin-left: 100px;
  }
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
