
.course {
	background-color: #fff;
	border-radius: 22px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;

	max-width: 100%;
	margin: 20px;
	overflow: hidden;
    width: 700px;
    height: 200px;
}


.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
    background-color:#5879db2a;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}


.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.course-info2 {
	padding-left:30px;
	padding-top: 5px;
	position: relative;
	width: 100%;
}



.btntest {
    background-color:#5878DB;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	
}


.btntest:hover {
	color: #fff;
text-decoration: none;
background-color:#4270f8;
}