.carde{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.card-product {
  overflow: hidden;
  height: 250px;
  width: 1110px;
  background: white;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  border-radius: 22px;
  }

.card-index{
  overflow: hidden;
  height: 200px;
  width: 1110px;
  background: white;

  margin-bottom: 50px;
  display: flex;
  align-items: center;

  border-radius: 29.5px;
}
.card-index:hover{
  box-shadow: 2px 20px 40px -9px rgba(0,0,0,0.44);
}




.card-product img  {
  margin-left: 100px;
  margin-right: 100px;
  max-height: 70%;
  max-width: 70%;
    
  }
  
.card-product h2{
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.card-product h3{
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-left: 150px;
}
  
.card-product p, .card-index p {

  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  width: 30em;
  font-size: 0.75em;
}
  
.card-product .card-product-infos {
  width: 980px;
  text-align: center;
}


.cardprice{
}

.englobe_index{
  min-height: calc(100vh - 72px - 150px);
}

.pictureindex{
}

.pictureindex img{

max-width: 100%;
max-height: 90%;
}

.title-center{
  text-align: center;
  margin-top: 50px;
}

.placement-btn{

 margin-top: 100px;
 margin-right: 50px;
}

.card-product-center{
  margin-left: 350px;


}
.card-product-center h2{
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 30px;
}

.priceindex{
  font-weight: bold;
  font-size: 20px;
}
