.containermoyenne{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1104px;
    height: 363px;
    background-color: white;
    border-radius: 8px;
}

.position{
    display: flex;
    justify-content: center;
}

