.filter {

    label {
        display: none;
    }

    .form-control {
        color: black;
       font-size: 15px;
   
        height: 40px;
        width: 120px;
        border: none;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }




}

.espacesearchnormal{
    padding-bottom: 15px;
    padding-left: 50px;
    }
    

.espacesearchbouton{
padding-bottom: 32px;
padding-left: 50px;
}

.recherchesbtn{

background-color: white;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    
}

