
.containers{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    padding-top: 10em;
    border-color: white;
    border-radius: 44px;
    width: 1600px;
    height: 650px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.carddde{
    flex-direction: column;
    background-color: #fff;
    padding-top: 30px;
    border-color: white;
    border-radius: 44px;
    width: 1600px;
    height: 650px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}



.txt{
    padding-top: 2em;
    font-size: 1em;
    text-align: center;
   
}


.txtde{
    padding-top: 10em;
    margin-right: 10em;
    margin-bottom: 50px;
}


.txtde h3{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}


.txt h4{
    font-size: 2em;
    margin-bottom: 2em;
    font-weight: bold;
}

.txt p{
    color: #393E46;
}


.searche{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1700px) {
    .card {
        width: 90%;
        height: 650px;
    }
    
    .carddde{
        width: 90%;
    }

    .txt p{
        
        font-size: 0.7em;
        margin-bottom: 5em;
    }
    .txt h4{
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 2em;
    }

    .txtde h3{
        font-size: 1.8em;
        
        font-weight: bold;
    }
  }