.search{
<<<<<<< HEAD
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
=======

  margin-top: 100px;
  margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
}


.search-form-control {
   border: 1px solid blue;
   width: 1000px;
  }

.flexinputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-secondary{
  height: 40px;
  width: 1000px;
  margin: 30px;
}
<<<<<<< HEAD
=======

.espacesearch{

  margin-left: 120px;
}
.espacesearchbtn{
margin-top: 30px;
  margin-left: 120px;
}
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
