.search{
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexinputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

.flexinputs_search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-secondary{
  height: 40px;
  width: 1000px;
  margin: 30px;
}

.espacesearch{
  margin-left: 120px;
}
.espacesearchbtn{
  margin-top: 30px;
  margin-left: 120px;
}

.searchzone{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

.searchzonevisible{
  margin: 50px;
}

.searchzoneinvisible{
  margin-top: 20px;
}

.search-form-controle{
  border: 1px solid #ced4da;
  width: 400px;
  margin-right: 100px;
  margin-left: -225px;
}

.computersearch{
  height: 600px;
}

.searchzonemax{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 60px;
  width: 1800px;
  background-color: white;
  border-radius: 44px;
}

.simple_form{
display: flex;
flex-direction: row;
}

#query{
  width: 400px;
  height: 60px;
}

.btn-outline-success{
  width: 150px;
  height: 60px;
  background-color: #5878DB;
  color: white;
}