
.service{
    margin-top: 100px;
    width: 1200px;
    height: 1200px;

}
.service h2{
    text-align: center;
    font-size: 50px;

    color: #222831;
}
.computer{
    margin-left: 200px;
}
.pig-service{
    margin-top: 100px;
    
}
.bell-service{
    margin-top: -100px;
}

.calendar-service{
    margin-left: 600px;
    margin-top: -210px;

}

.p-2{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.twolast{
    margin-left: 100px;
}