
.service{
margin-top: 100px;
    width: 1000px;
    height: 1200px;

}
.service h2{
    margin-left: 350px;
    font-size: 50px;

    color: #222831;
}
.computer{

}
.pig-service{
    margin-top: 100px;
    
}
.bell-service{
    margin-top: -100px;
   
}

.calendar-service{
margin-left: 500px;
    margin-top: -50px;

}
