.form-control{
width: 300px;
height: 100px;
font-size: 50px;
color: #5878DB;
border-color: #5878DB;
padding-left: 50px;

}

.showproducts{
    border: 1px solid #5878DB;
    padding: 20px;
    height: 600px;
    width: 650px;
}
.formulaire-prod{

    
}

.productlert{
 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
    
.whiteform{
    
margin-bottom: 50px;
    height: 850px;
    background-color: white;

}

.whiteform h1{
    padding-top: 50px;
margin-left: 100px;
margin-bottom: 50px;


}

.endflex{
    margin-left: 900px;

}