.form-controlers{
width: 300px;
height: 100px;
font-size: 50px;
color: #5878DB;
border-color: #5878DB;
padding-left: 50px;

}

.showproducts{
    border: 1px solid #5878DB;
    border-radius: 22px;
    height: 650px;
    width: 650px;
    background-color: white;
}
.bellformalert{
    margin-bottom: 2em;
    margin-top : 2em;
    font-size: 50px;
    width: 1100px;
}

.bellformalert h2{
    color: #222831;
    font-weight: bold;
    margin-top: 20px;
}

.bellformalertss{
    
  min-height:  500px;
    margin-top : 2em;
  
    
}

.productlert{

    display: flex;
    align-items: center;
    justify-content: center;
    
}
    
.whiteform{
   
    padding-left: 50px;
    margin-bottom: 50px;
    height: 900px;
    background-color: white;
}

.whiteform h1{
    padding-top: 50px;
    margin-left: 160px;
    margin-bottom: 50px;


}

.endflex{
    margin-left: 900px;

}

.adresse-form{
    padding: 20px;

    border-top: 1px solid;
    border-color: #5879dbb0;
}

.adresse-info2{
    margin-left: 230px;
}

.adresse-info1{
 
}

.containerd-info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.margin-product{
padding-left: 50px;
padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}


.photo-show img {
    margin-left: 5em;
    max-height: 60%;
    max-width: 60%;
}

.size-description{
    width: 30em;
    font-size: 0.75em;
}

.titleshow{
    color: black;
    font-weight: bolder;
}

.address_show{
    color: black;
    text-align: center;
}

.big_product_show{
    color: black;
}

.posting_show{
    color: black;
    font-weight: bolder;
}

.integer{
    color: black;
    font-weight: bolder;
}

.bravo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.bravo_text{
    margin-bottom: 50px;
}