.categories{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
text-align: center;
border-radius: 12px;
padding-top: 20px;
    height: 240px;
    width: 220px;
    margin-bottom: 100px;
    margin-left: 35px;
}
.categories:hover{
    transform: scale(1.2);
}
.categories img{
    height: 50%;
    width: 50%;
}
.categoriesdiv p{
margin-top: 20px;

}

.margincate{

    margin-left: 30px;
}



.NotreAvis{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 340px;
    margin-bottom: 100px;
}
.NotreAvisimg{
   background-color: white;
    
    border-radius: 12px;
    padding-top: 20px;
        height: 200px;
        width: 340px;
   
}


.NotreAvisimg:hover{

background-color: #5879db2a;

}

.NotreAvis:hover{
   
}
.NotreAvis img{
max-height: 80%;
max-width: 100%;
}
.categoriesdiv p{
margin-top: 20px;

}

.margincater{

    margin-left: 2em;
}

.checked {
    margin-top: 10px;
    color: orange;
  }


  @media only screen and (max-width: 1700px) {
 
        
    .margincater{

        margin-left: 1em;
    }
    .categories{

        height: 190px;
        width: 170px;
        margin-bottom: 100px;
        margin-left: 0.5em;
    }


    .NotreAvis{
        
        height: 200px;
        width: 240px;
       
    }
    .NotreAvisimg{
       
            height: 150px;
            width: 240px;
        
    }

    .carous-h3{

        margin-left: 0px;
    
    
    }
 
}
