.formulaire-booking{
    margin-bottom: 20px;
    margin-top: 50px;
<<<<<<< HEAD
    text-align: center;
=======

>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
}

.formulaire-separation{
    margin-bottom: 50px;
    padding: 20px;
    background-color: white;
}