
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Marque
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Bosch</a>
    <a class="dropdown-item" href="#">Black & Decker</a>
    <a class="dropdown-item" href="#">Essentiel B</a>
  </div>
</div>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Catégorie
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Jardinage</a>
    <a class="dropdown-item" href="#">Electro-ménager</a>
    <a class="dropdown-item" href="#">Bricolage</a>
  </div>
</div>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Marchand
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Amazon</a>
    <a class="dropdown-item" href="#">Cdiscount</a>
    <a class="dropdown-item" href="#">Boulanger</a>
    <a class="dropdown-item" href="#">Darty</a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Rechercher
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Mettre un filtre/recherche</a>
  
  </div>
</div>


<div class = "containerd">
<div class ="formulaire-booking">
<% @products.each do |product| %>

<div class = "formulaire-separation" >
<p>Nom : <%= product.name %></p>
<p>Description  : <%= product.description %></p>
<p>Prix : <%= product.price %> €</p>
<p>(Image)</p>
<%= link_to("Paylert", root_path, class:"generique") %>
</div>
<%end%>


<li> Todo : Faire le lien du bouton Paylert
<li> Todo : Ajouter le footer 
<li> Todo : Dropdown toggle


