<div class="container container-stripe">
  <div class="row justify-content-center align-items-center h-100">

    <% if current_user.credit_card_verified? %>
      <%= render 'shared/stripe_already_verified' %>
    <% else %>
      <div class="card-stripe">
        <%= render 'shared/stripe_payment_intent_form' %>
        <%= render 'shared/stripe_awaiting_intent' %>
        <%= render 'shared/stripe_intent_confirmed' %>
      </div>
    <% end %>
  </div>
</div>

