


Test PAYLERT "pending" : 

<%= render 'shared/payalertcontainer' %>

<h2>Mes Payalerts exécutées</h2>


Test PAYLERT "executé "": 

<%# <% if paylert.status === "executed"%>

<%= render 'shared/payalertcontainer2' %>

<%= render 'shared/footer' %>


